.edit-user{
    width: 100%;
    font-family: 'Caveat', cursive;
    text-align: center;
}

.edit-user-header{
    padding: 16px;
    margin-bottom: 0;
    background: #17a2b8 !important;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.edit-container{
    font-size: 25px;
}

.profile{
    width: 400px;
    margin-top: 20px;
}

