

.a-signup{
    width: 100%;
    font-family: 'Caveat', cursive;
    text-align: center;
    
}

.signup-header {
  padding: 16px;
  margin-bottom: 0;
  background: #17a2b8 !important;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  }

  .imagename-signup{
    font-size: 20px;
  }

  .image-name{
    font-size: 40px;
  }

  .email, .password{
    padding: 12px;
    font-size: 40px;
  }