body{
    background: #ebebeb;
}

.reset-password{
    width: 100%;
    font-family: 'Caveat', cursive;
    text-align: center;
}

.reset-password-header {
    padding: 16px;
    margin-bottom: 0;
    background: #17a2b8 !important;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  .reset-email{
    padding: 12px;
    font-size: 40px;
  }

  .reset-submit{
    margin-top: 20px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 16px;
    outline: 0;
    font-size: 40px;
  }

  .reset-btn{
    color: #17a2b8 !important;
    background:#EEEEEE;
    width: 30%;
  }

  .reset-btn:hover{
    background-color:  #CCCCCC;
  }